@import "../../../theme/index.scss";

.personalDataForClient {
  padding: 80px 0px;
  @include respond-to(tablet) {
    padding: 120px 0px;
  }
  @include respond-to(desktop) {
    padding: 100px 0px;
  }

  p {
    margin: 0;
  }

  .contentClient {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin: 0 15px;
    @include respond-to(tablet) {
      gap: 120px;
      margin: 0 40px;
    }

    @include respond-to(desktop) {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      margin: 0 25px;
    }

    .title {
      color: $black;
      font-family: Yeseva One;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      @include respond-to(tablet) {
        font-size: 40px;
        line-height: 50px;
      }
      @include respond-to(desktop) {
        font-size: 50px;
        line-height: 60px;
      }
    }

    .text {
      color: $black;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-top: 30px;
      @include respond-to(desktop) {
        font-size: 18px;
        line-height: 20px;
        margin-top: 50px;
      }
    }
  }
}
