@import "../../theme/index.scss";

.content {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 234px;
  background-color: $black;
  position: absolute;
  z-index: 1;
  top: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  overflow: hidden;

  @include respond-to(tablet) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 370px 35px, 270px 18px, 0% 18px);
    height: 300px;
  }

  @include respond-to(desktop) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 700px 35px, 600px 18px, 0% 18px);
    height: 600px;
  }

  .img {
    object-fit: cover;
    width: 55%;

    @include respond-to(tablet) {
      width: 40%;
    }
  }
}

.ellipse {
  display: none;
  position: absolute;
  background-color: $white;
  top: 18px;
  left: 270px;
  height: 30px;
  width: 111px;
  z-index: 2;
  clip-path: ellipse(111px 30px at left bottom);

  @include respond-to(tablet) {
    display: block;
  }

  @include respond-to(desktop) {
    left: 600px;
  }
}
