@import "../../../../theme/index.scss";

.container {
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;

  @include respond-to(tablet) {
    padding-left: 40px;
  }

  @include respond-to(tablet) {
    padding-left: 25px;
  }


  .white {
    color: $white;
  }

  .black {
    color: $black
  }

  .title {
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 25px;

    @include respond-to(desktop) {
      font-weight: 600;
    }
  }

  .description {
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    @include respond-to(desktop) {
      line-height: 20px;
      font-weight: 600;
    }

    &__orange {
      color: orange
    }
  }
}
