$black: #181818;
$lightGrey: rgba(0, 0, 0, 0.2);
$silver: #ababab;
$white: #ffffff;
$orange: #ff4e02;
$orange20: rgba(255, 78, 2, 0.2);
$darkOrange: #e44500;
$lightOrange: #ff5d17;
$darkGrey: #202020;
$codGray: #171717;
$codGray50: rgba(23, 23, 23, 0.5);
$black01: rgba(0, 0, 0, 0.1);
$black015: rgba(0, 0, 0, 0.15);
$gray02: rgba(255, 255, 255, 0.2);
