@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (min-width: 375px) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: 744px) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
}
