@import "../../theme/index.scss";

.wrapper {
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 1440px;
  color: $white;
  display: flex;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 38px 40px 2px 40px;

  @include respond-to(desktop) {
    height: 90px;
    padding: 25px 24px;
  }

  .contactsWithLang {
    display: none;

    @include respond-to(desktop) {
      display: flex;
      justify-content: center;
    }

    .btn {
      height: 50px;
    }

    .langWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .rightHeaderWrapper {
    display: flex;
    justify-content: center;

    .linksWrapper {
      display: none;

      @include respond-to(desktop) {
        display: flex;
      }
    }

    .linkLogo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .separatorBlock {
      width: 1px;
      background-color: $white;
      height: 50px;
      margin: 0 60px;
    }
  }
}
