@import "../../../theme/index";

.newClientsBlock {
  padding: 80px 0px 100px 0px;
  margin-top: 200px;

  @include respond-to(tablet) {
    padding: 60px 0px 120px 0px;
  }
  @include respond-to(desktop) {
    padding: 0px 0px 120px 0px;
  }

  .globalTitle {
    margin: 0px 15px 80px;
    font-family: Yeseva One;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    @include respond-to(tablet) {
      margin: 0px 40px 60px;
      line-height: 60px;
      font-size: 48px;
    }

    @include respond-to(desktop) {
      margin: 0px 40px 150px;
      line-height: 90px;
      font-size: 80px;
    }
  }

  .title {
    color: $black;
    font-family: Yeseva One;
    margin: 0px 15px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    @include respond-to(tablet) {
      font-size: 40px;
      line-height: 50px;
      margin: 0px 40px;
    }
    @include respond-to(desktop) {
      font-size: 60px;
      line-height: 60px;
      margin: 0px 25px;
    }
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;

    @include respond-to(tablet) {
      margin-top: 50px;
    }
    @include respond-to(desktop) {
      flex-direction: row;
      justify-content: space-between;
      margin: 50px 25px 0px 25px;
    }
  }
}
